body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:rgb(197, 192, 201);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-container{
    width: 80vw;
    height: fit-content;
    display: flex;    
    flex-direction:column;
    margin-left: 20vw;
}

.navigation{
    width: 20vw;
    height: fit-content;
    position: fixed;
    display: flex;
    flex-direction: column;
 
}
.main-content{
    background-image: url(../assets/images/girl1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}
.brand-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-left: 30px;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
li{
    list-style: none;
    padding-top: 30px;
}
.menu{
    margin-top: 40px;
}
.menu-link{
    transition: 0.5s;
}
.menu-link:hover{
    color: rgb(149, 150, 144);
}
.social-media-icons img{
    width: 20px;
    height: 20px;
    padding-right: 25px;
}
.social-media-icons{
    margin-left: 30px;
    margin-top: 50px;
}
.title{
    text-align: center;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    color: rgb(0, 0, 0);
}
.home-paragraph{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 4rem;
    padding-left: 20%;
    padding-right: 20%;
}
#home-btn{
    font-size: 18px;
    padding: 20px;
    margin-left: 40%;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
    background-color: #df0e62;
    border-radius: 50px;
    transition: 0.5s;
}
#home-btn:hover{
    opacity: 0.5;
}   
.gallery{
    width: 80vw;    
    height: fit-content;
 
}
.gallery .gallery-image{
    width: 33%;
    height: 300px;
    cursor: pointer;
    transition: 0.5s;
    object-fit: cover;
}
.gallery .gallery-image:hover{
    opacity: 0.5;
}
.biography{
    width: 80vw;
    height: fit-content;

    flex-wrap: wrap;
    background-color: rgb(240, 238, 235);
}
.biography-title{
    font-size: 50px;
    margin-top: auto;
    margin-left: 80px;
    padding-top: 70px;
}
.biography-image{
    margin-left: 80px;
    width: 400px;
    height: 300px; 
}
p{
    margin-left: 80px;
    color: rgb(88, 88, 88);
    margin-right: 80px;
}
.biography-paragraph{
    margin-bottom: 50px;
}
h2{
    margin-left: 80px;
}
.tick-image{
    margin-left: 80px;
    margin-right: 5px;
    width: 12px;
    margin-top: 30px;
}
td{
    color: rgb(90, 87, 87);
}
.td{
    padding-bottom: 90px;
}
.main-blog{
    width: 80vw;
   
}
.blog-title{
    margin-left: 80px;
    font-size: 50px;
    margin-top: 70px;
}
.blog-content{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.blog-paragraph{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 30px;
}
.blog-image{
    margin-top: 80px;
    position: relative;
}
.b-image .blog-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.contact-container{
    width: 80vw;
 
    background-color: rgb(240, 238, 235);
    height: fit-content;
    margin-top: 180px;
}
.contact{
    width: 800px;
    margin-left: 80px;
    height: fit-content; 
}
.main-contact{
     display: flex;
    flex-direction: row;
}
.input-fname{
    width: 390px;
    display: flex;
    flex-direction: column;
}
#input-f{
    width: 390px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(240, 238, 235);
    outline: none;
}
.input-lname{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#input-l{
    width:400px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(240, 238, 235);
    outline: none;
}
.contact-title{
    margin-left: 80px;
    font-size: 50px;
    padding-top: 70px;
}
#input-f:focus{
    border-bottom: 2.5px solid rgb(36, 34, 34);
}
#input-f:hover{
    border-bottom: 2.5px solid rgb(36, 34, 34);
}
#input-l:focus{
    border-bottom: 2.5px solid rgb(36, 34, 34);
}
#input-l:hover{
    border-bottom: 2.5px solid rgb(36, 34, 34);
}
#input2{
    width: 800px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-top: none;
    border-left: none; 
    border-right: none;
    background-color: rgb(240, 238, 235);
    outline: none;
}
#input2:focus{
    border-bottom: 2.5px solid rgb(36, 34, 34);
}
#input2:hover{
    border-bottom: 2.5px solid rgb(36, 34, 34);
}
label{
    color: rgb(77, 74, 74);
}
#message{
    width: 800px;
    background-color: rgb(240, 238, 235);
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    margin-top: 20px;
}
.contact-btn {
    height: 80px;
}
#btn-link{
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #df0e62;
    border-radius: 50px;
    transition: 0.5s;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#btn-link:hover{
    opacity: 0.5;
}
.contact-input{
    width: fit-content;
    margin-bottom: 60px;
}
footer{
    width: 80vw;
  
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: rgb(56, 55, 55);
}
.footer-colorlib{
    color: red;
}


